@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #161515;
  color: #f8f8f8;
}

.home-header {
  text-align: center;
}

.upvotes {
  display: inline-block;
  margin: 0 10px 0 10px;
  font-size: 1.5em;
}

.description{
  margin-top: 15px;
}

.search {
  margin-bottom: 15px;
}

hr {
  border: 1px solid white;
}
