/*******************
MENU:
!!! media queries included in each section
--------------------------------
1.0 DEFAULT & REUSABLE "OBJECTS"
--------------------------------
- 1.1 VARIABLES
- 1.2 REUSABLES
- 1.2 FORMS

--------------------------------
2.0 HEADER
--------------------------------
- 2.1 NAVIGATION

--------------------------------
3.0 HOME - GENERAL
--------------------------------


--------------------------------
4.0 FOOTER
--------------------------------
********************/

/* ======================
1.0 DEFAULT / REUSABLE "OBJECTS"
====================== */

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Dosis';

/* ======================
1.1 VARIABLES
====================== */

$dosis: 'Dosis', sans-serif;
$base-brown: #7E5B22;
$lighter-base: #9e7635;
$off-white: #FAEBD7;
$bright-blue: #0F72CA;

/* ======================
2.1 Navigation
====================== */

.navbar-default {
  background-color: $base-brown;
  border: none;
  border-radius: 0;
}

.navbar-default .navbar-nav > li > a {
  color: $off-white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: $off-white;
  background-color: $lighter-base;
}

.navbar-default .navbar-brand {
  color: $off-white;
}

/* ======================
3.0 GENERAL
====================== */

body {
  font-family: $dosis;
  background-color: #161515;
  color: #f8f8f8;
}

.home-header {
  text-align: center;
}

.upvotes {
  display: inline-block;
  margin: 0 10px 0 10px;
  font-size: 1.5em;
}

.description{
  margin-top: 15px;
}

.search {
  margin-bottom: 15px;
}

hr {
  border: 1px solid white;
}
