<h1>Thanks for checking out Code Pouch!</h1>

<p>In my journey on learning to code, I have collected a ton of bookmarks. And while I think that the bookmark system is great. I wanted a single place for me to add them that was searchable. So here is Code Pouch, a developers grab bag of goodies.</p>

<p>I intend on this being a comunity maintained resource. The more resources people add the better the app will get. Plus I think that it makes it easier for anyone looking for something to help them on their code journey. So please feel free to add as many resources as you can. If you notice that there are bad or fake resources please raise a github issue <a href="https://github.com/theRingleman/code_pouch/issues">here</a>.</p>

<p>Also note that any contributions you would like to make are more than welcomed. Simply go <a href="https://www.github.com/theRingleman/code_pouch">here</a> and create a pull request. Thank you again for checking out my project and please help me to make it better!</p>
