<!DOCTYPE html>
<html>
<head>
  <title>CodePouch</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="CodePouch">
  <h1>This should work</h1>
  <div ui-view>
    
  </div>

</body>
</html>
